doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#ffc900")
    title Car Pump
    link(rel="stylesheet", href="style.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")

    link(rel="icon", href="images/icons/favicon.svg")
    script(src="script.js" defer)



  body 
    header
      .header-overlay
        img(src="images/graphics/everythingsome-logo.svg", alt="")
        span ThingSome



      .navigator
        .navi-overlay
          a.fo.navi-nav2(href="javascript:void(0)")
            img.fo(src="images/icons/shopping-cart.svg", alt='cart')
          .navi-nav1
            span.nav-e learn more
            img.nav-e(src="images/icons/double-down.svg", alt="learn more")

        .navi-bottom
          .left 
          .right


    .main-card

      .mcard-contents

        .mcard-price
          strong Ghc 350.00
            hr

        .mcard-images
          .m-east-west
            a.m-east(href="javascript:void(0)") 
              img.m-east(src="images/icons/west.svg", alt="")
            a.m-west(href="javascript:void(0)")
              img.m-west(src="images/icons/east.svg", alt="")

          .mcard-images-overlay
            div
              img(src="images/products/start.jpg", alt="")

            div
              img(src="images/products/car_pump_graphical.webp", alt="")

            div
              img(src="images/products/car_pump.webp", alt="")

            div
              img(src="images/products/car_pump_graphical1.webp", alt="")

            div
              img(src="images/products/end.jpg", alt="car pump" )


        .mcard-description
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, possimus? Lorem ipsum dolor, sit amet consectet adipisicing elit. Provident vel incidunt fugiat cum, qui laudantium nam laboriosam quis veniam nulla.

    

    .article-card
      .article-content 

        .art-head 
          h1 Portable Car Pump

        .art-vitals
          .vit-brand
            h3 brand | Model 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.

          .vit-price 
            h3 Price | Delivery

            .vit-price-content
              table
                tr.product
                  td Product 
                  td Ghs 220
              
              table
                tr 
                  td Delivery
                  td Ghs 30

            span total = 250gh


          .vit-material
            h3 properties | Dimensions
            
            .vit-mat-content
              div 
                span size 
                span weight
                span power source

              hr
              div 
                span 40" x 20" 
                span 40kg
                span 12v DC
            .tags
              span Metal 
              span Plastic
              span Electric
              span pressure gauge

        article
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis odio esse impedit et debitis mollitia, nostrum suscipit facilis explicabo ullam molestias incidunt! Exercitationem,

    .form-card
      .form-card-close.fc
        a.fc(href="javascript:void(0)")  x
      .form-content
        .form-brief
          .form-brief-content

            .brief-brief 
              h3 Portable Car Pump 
              span Price

              .price-maths
                button -
                div 1
                button +

          .brief-total 
            span Total = price x span

        p We will call you first after your order is place to go over details before delivery.

        form(action="#" method="POSt")

          .form-date
            label(for="date") We are always available deliver anyday.
            input#date(type="date" name="date" )
            a.fd(href="javascript:void(0)") today

          //- hr

          .form-name-phone 
            div
              label(for="name") Full name
              input#name.di(type="text" name="Name")

            div
              label(for="tel") Phone number
              input#tel.di(type="tel" name="Phone number")

          //- hr
          p We deliver nationwide

          .form-location
            div
              label(for="location") Town/city
              input#location.di(type="location" name="Location" )
            div 
              label(for="address") Street Address
              input#address.di(type="address" name="address")

          .form-prefer 
            div
              label(for="prefer")
              input#prefer.di(type="prefer" name="Preference")

          
          input(type="submit" value="submit")