.article-card
  .article-content

    .art-head
      h1

    .art-vitals
      .vit-brand
        h3 brand | Model
        p 

      .vit-price 
        h3 Price | Delivery

        .vit-price-content
          table
            tr.ran1
              td Product 
              td.ran2 &#8373;
            tr 
              td Delivery
              td.deli-fee &#8373; 30

        span Total = &#8373;
          div.price-delivery(style="display: inline;")


      .vit-material
        h3 Materials | Dimensions
        
        .vit-mat-content
          div 
            span size 
            span weight
            span power source

          hr
          div 
            span 
            span 
            span 
        .tags
          span 
          span
          span
          span
          span
          span

    article.--cp
      p.--cp 
