.main-card
  .mcard-contents
    .mcard-price
      strong Gh&#8373; 340
      hr

    .mcard-images

      .mcard-images-overlay
        ul.ic

        div.before-index

        div.index-js

        div.after-index

      .m-east-west
        a.m-east(href="javascript:void(0)" title="previous image", rel="nofollow") 
          img.m-east(src="images/icons/west.svg", alt="previous", width="50")
        a.m-west(href="javascript:void(0)" title="next image", rel="nofollow")
          img.m-west(src="images/icons/east.svg", alt="next image", width="50")

    .mcard-description.--fo
      h1.--fo
      p.--fo