body, ::before, ::after, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "rubik", Arial, Helvetica, sans-serif;
  transition: all 130ms;
}

*:not(.form-brief):-webkit-scrollbar {
  scroll-behavior: smooth;
  display: none;
  width: 0;
  background-color: #f44;
  color: #f44;
}

*:not(.form-brief) {
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: 0;
}

* img {
  font-style: italic;
}

body {
  min-width: 300px;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

P {
  line-height: 1.5;
  font-family: "fira Sans", Helvetica, sans-serif;
  color: #444;
}

span, tr, td {
  font-weight: 100;
  font-size: 0.9rem;
  color: #444;
}

a {
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
}
a:hover {
  color: #333;
}

button {
  border: none;
  cursor: pointer;
}

:root {
  --rad-0: 0.1rem;
  --rad-1: 0.35rem;
  --rad-2: 0.75rem;
  --rad-3: 1.3rem;
  --rad-4: 1.9rem;
  --rad-5: 2.3rem;
  --rad-6: 3rem;
  --rad-7: 5rem;
  --rad-8: 6rem;
  --rad-9: 9rem;
}

.form-card-close,
.brief-brief *:not(img),
.overall-total,
.form-contact > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  width: 100%;
  text-align: center;
  visibility: hidden;
  height: 100dvh;
  z-index: 99;
  position: fixed;
  inset: 0;
  opacity: 0;
  background-color: rgba(51, 51, 51, 0.4);
  backdrop-filter: blur(5px);
  transition: all 250ms ease-in 100ms;
}
.form-card.js {
  visibility: visible;
  opacity: 1;
}
.form-card.js .form-content {
  transform: unset;
}

.form-card-close {
  height: 50%;
}
.form-card-close a {
  display: block;
  height: 100%;
}
.form-card-close a span {
  font-size: 2rem;
  color: #fff;
}

.form-content {
  display: grid;
  grid-template-rows: 3rem 3fr 2fr 9fr;
  transform: translateY(110%);
  position: absolute;
  height: 92%;
  max-height: 900px;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  box-shadow: 0px -5px 25px rgba(51, 51, 51, 0.2);
  transition: all 250ms ease-in 100ms;
}
.form-content *:not(.form-brief img) {
  border-radius: 6px;
}
.form-content h2 {
  display: grid;
  justify-items: center;
  width: 100%;
  height: 100%;
  font-size: 2.5em;
}
.form-content p,
.form-content span {
  display: block;
  font-size: 0.9em;
}
.form-content strong {
  font-size: 1.2em;
}

.form-brief {
  width: 100%;
  height: 100%;
  position: relative;
  align-items: start;
  overflow-x: auto;
  margin: 0 -1rem;
  display: flex;
  grid-auto-flow: column;
  gap: 1rem;
  padding: 0 1rem;
}

.form-brief-content {
  width: 45%;
  min-width: 230px;
  max-width: 250px;
  position: relative;
}

.brief-add-to-cart {
  display: grid;
  justify-items: center;
  width: 6rem;
  max-width: 40%;
  height: unset;
  position: relative;
  cursor: pointer;
}
.brief-add-to-cart .remove-batc {
  position: absolute;
  z-index: 99;
  right: -0.3rem;
  color: #fff;
  background-color: #222;
  padding: 0.1rem 0.3rem;
}
.brief-add-to-cart .image {
  width: 90%;
}
.brief-add-to-cart .image strong {
  position: absolute;
  height: 80%;
  font-size: 4rem;
  font-weight: 100;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1333333333);
  inset: 0;
}
.brief-add-to-cart img {
  width: 100%;
}
.brief-add-to-cart .text {
  background-color: rgba(153, 153, 153, 0.7333333333);
  box-shadow: 0 -3px 5px -2px rgba(153, 153, 153, 0.6);
  position: relative;
  font-size: 0.8rem;
  padding: 0.1rem;
  top: -0.6rem;
  width: 110%;
}
.brief-add-to-cart .text span {
  color: #fff !important;
}

.brief-brief {
  display: flex;
  border-radius: 1rem !important;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 9/4;
  box-shadow: 0 5px 6px -2px rgba(136, 136, 136, 0.6);
  background-color: #d8d8d8;
}
.brief-brief *:not(img) {
  justify-items: center;
}
.brief-brief h3 {
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9em;
  white-space: nowrap;
  cursor: pointer;
}
.brief-brief img {
  width: 40%;
  aspect-ratio: 1;
  cursor: pointer;
}
.brief-brief .brief-side {
  padding: 1%;
  display: grid;
  width: 100%;
}
.brief-brief .price-maths {
  min-width: 110px;
  width: 90%;
  justify-content: space-between;
}
.brief-brief .price-maths button {
  font-size: 1.5em;
  padding: 0 8px;
  background-color: #eee;
}
.brief-brief .price-maths .minus {
  color: #f44;
  padding: 5px;
  font-size: 0.9rem;
  letter-spacing: -1px;
}

.brief-total {
  position: relative;
  background-color: #fdc900;
  width: 90%;
  font-size: 0.9em;
  left: 50%;
  translate: -50%;
  border-radius: 0 0 1rem 1rem !important;
  box-shadow: inset 0 3px 5px rgba(136, 136, 136, 0.4);
}
.brief-total strong {
  font-size: 1rem;
}

.form-contact--deli-info {
  display: flex;
}

.form-contact {
  display: grid;
  gap: 0.1rem;
  width: 7rem;
  max-width: 50px;
  align-content: center;
}
.form-contact img {
  height: 50%;
}
.form-contact .form-telegram,
.form-contact .form-whatsapp {
  aspect-ratio: 3/2;
}
.form-contact .form-telegram {
  background-color: #27f;
}
.form-contact .form-whatsapp {
  background-color: #3c4;
}

.form-deli-info {
  padding: 0.3rem 1rem;
  text-align: center;
  font-size: 1.1rem;
  align-self: center;
  line-height: 1.7;
}
.form-deli-info img {
  width: 2.3rem;
  vertical-align: middle;
}

form {
  display: grid;
  align-content: space-evenly;
  align-self: end;
  gap: 1.2rem;
}
form input:not(input[type=submit]) {
  width: 100%;
  border: none;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0);
}
form input::placeholder {
  color: #333;
  font-size: 1.1em;
}
form input:focus {
  border: rgba(0, 0, 0, 0);
  outline: rgba(0, 0, 0, 0);
}

.form-date {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}
.form-date button {
  background-color: #00509d;
  color: white;
  padding: var(--rad-1) var(--rad-2);
  border-radius: 0.4rem 0 0 0.4rem !important;
}
.form-date .date_today {
  display: flex;
}
.form-date .date {
  display: flex;
  border: solid 1px rgba(153, 153, 153, 0.4);
  padding: var(--rad-1) calc(var(--rad-2) * 0.7);
  border-radius: 0 0.4rem 0.4rem 0 !important;
  gap: calc(var(--rad-1) * 1.2);
}

#select_month {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(136, 136, 136, 0.4);
  padding: 1rem;
  transform: scale(50%) translate(40%, -120%);
  transition: all 200ms ease-in-out;
  z-index: 99;
}
#select_month.js {
  visibility: visible;
  transform: scale(100%) translateY(-100%);
}

div:has(> input:focus) {
  border: solid 1px rgba(102, 102, 102, 0.4666666667);
  transform: scale(105%);
}
div:has(> input:focus) label {
  bottom: unset;
  top: -0.6rem;
  right: unset;
  background-image: linear-gradient(#fff, #f9f9f9);
  transform: scale(80%);
  color: #999;
}

.event-select {
  display: grid;
  place-items: center;
  width: 100%;
  border-radius: var(--rad-2);
  position: relative;
}
.event-select > div {
  display: flex;
  gap: var(--pad-2);
  width: 100%;
}
.event-select > div span {
  flex-grow: 1;
  flex-shrink: 0;
  display: block;
}
.event-select > div div {
  background-color: rgba(51, 51, 51, 0.2);
  justify-self: right;
  align-self: stretch;
  margin: var(--rad-2) var(--rad-2);
  padding: 0 var(--rad-2);
  border-radius: 0 var(--rad-2) var(--rad-2) 0;
  color: #fff;
  flex-shrink: 1;
  cursor: pointer;
}
.event-select a.close {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  border: none;
  position: absolute;
}
.event-select a.close.js {
  height: 200lvh;
  width: 200lvw;
}
.event-select ul {
  overflow-y: auto;
  scrollbar-width: none;
  max-height: 50dvh;
  visibility: hidden;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.2);
  border-radius: var(--rad-3);
  padding: var(--rad-2);
  bottom: 2.3rem;
  transition: all 180ms ease-in-out;
  transform: scaleY(60%) translateY(-25%);
  opacity: 0;
  z-index: 9;
}
.event-select ul li {
  font-size: 90%;
  border-bottom: dashed 1px rgba(85, 85, 85, 0.3333333333);
  padding: var(--rad-2) var(--rad-2) var(--rad-2) var(--rad-2);
  text-wrap: nowrap;
  cursor: pointer;
  list-style-type: none;
  transition: all 1s ease-in-out;
}
.event-select ul li:last-child {
  border-bottom: none;
}
.event-select ul li.js {
  background-color: rgba(51, 51, 51, 0.2);
}
.event-select ul.js {
  transform: scaleY(100%);
  visibility: visible;
  opacity: 1;
}

.close {
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform: scale(1000%);
}

.form-name-phone div.done-js,
.form-location div.done-js,
.form-prefer div.done-js {
  border: solid 2px #07f;
  transform: scale(100%);
}
.form-name-phone div.done-js label,
.form-location div.done-js label,
.form-prefer div.done-js label {
  transform: scale(65%) translate(-20%, -25%);
}
.form-name-phone div.done-js input,
.form-location div.done-js input,
.form-prefer div.done-js input {
  position: absolute;
  bottom: 0;
}

.form-name-phone > div,
.form-location > div,
.form-prefer > div {
  border: solid 1px rgba(68, 68, 68, 0.1333333333);
  height: 2.7rem;
  background-color: #fbfbfb;
  position: relative;
  transition: all 150ms;
}
.form-name-phone > div.js label,
.form-location > div.js label,
.form-prefer > div.js label {
  bottom: unset;
  top: -0.6rem;
  right: unset;
  background-image: linear-gradient(#fff, #f9f9f9);
  transform: scale(80%);
  color: #999;
}
.form-name-phone > div.fine,
.form-location > div.fine,
.form-prefer > div.fine {
  border: solid 1px #07f;
}
.form-name-phone > div.bad,
.form-location > div.bad,
.form-prefer > div.bad {
  border: solid 1px #f00;
}
.form-name-phone > div > *,
.form-location > div > *,
.form-prefer > div > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 0.4rem;
}
.form-name-phone > div label,
.form-location > div label,
.form-prefer > div label {
  color: rgba(153, 153, 153, 0.6);
  transition: all 150ms;
}

.strong-location {
  margin-top: 2rem;
}

.form-name-phone,
.form-location {
  display: flex;
  text-align: start;
  gap: 1rem;
}
.form-name-phone div,
.form-location div {
  flex-grow: 1;
  display: grid;
  width: 50%;
}

.required-field {
  display: block;
  position: absolute;
  translate: 1rem 1.2rem;
  color: #f72;
  bottom: 0;
}

.done-js {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 2.5rem;
  padding: 0.1rem 0.5rem;
  background-color: #fdb500;
  width: 90%;
}
.done-js input[type=submit] {
  border: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  justify-self: center;
  color: #fff;
  text-shadow: 0 0 3px #fff;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 1.2em;
  cursor: pointer;
}
.done-js .overall-total:not(.overall-total.js) {
  animation: total-pulse 100ms ease-in 2 alternate;
}
@keyframes total-pulse {
  to {
    transform: scale(110%);
    filter: blur(4px);
  }
}
.done-js .overall-total {
  flex-shrink: 0;
  background-color: #fefaee;
  height: 95%;
  padding: 0 0.5rem;
  margin-left: auto;
  transition: all 1s ease-in-out;
}
.done-js .overall-total strong {
  font-size: 1em;
  font-weight: 600;
}

.form-card .notifications {
  height: 0;
  opacity: 0;
  background-color: #fdc900;
  display: flex;
  color: #a70;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  box-shadow: inset 0px -4px 5px -2px rgba(34, 34, 34, 0.6);
  transition: all 100ms ease-in;
}
.form-card .notifications.js {
  height: unset;
  max-height: 2rem;
  opacity: 1;
}
.form-card .notifications div {
  flex-grow: 1;
}
.form-card .notifications a {
  color: #000;
  font-size: 1.9rem;
  line-height: 0.4;
}

@media screen and (max-width: 450px) {
  html body .main-card,
  html body .article-card {
    padding: 0 0.5rem;
  }
  html body .main-card .mcard-contents,
  html body .article-card .mcard-contents {
    padding: 0 0.8rem;
  }
  html body .main-card .article-content,
  html body .article-card .article-content {
    min-width: auto;
  }
  html body .form-content > h2 {
    margin-top: -0.7rem;
  }
  html body .form-content > h2::before {
    content: "";
    height: 0.3rem;
    width: 30%;
    border-radius: 1rem;
    background-color: #888;
    color: #555;
  }
}
@media screen and (min-height: 740px) {
  html body .form-card .form-content {
    height: 85lvh;
  }
  html body .form-card .form-content form {
    gap: 1.5rem;
  }
}
@media screen and (max-height: 500px) {
  html body .form-card .form-content {
    overflow: auto;
  }
}
@media screen and (min-width: 640px) {
  html body {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  html body header .header-content {
    grid-template-columns: 30% 30% 30%;
    gap: 2rem;
    padding: 1.8rem;
  }
  html body .main-card.main-go-js {
    transform: unset;
  }
  html body .navigator {
    bottom: 1rem;
  }
  html body .navigator .navi-overlay {
    justify-content: center;
  }
  html body .navigator .navi-overlay .navi-nav1 {
    display: none;
    visibility: hidden;
    width: 0;
    opacity: 0;
  }
  html body .navigator .navi-overlay .navi-nav1.settings-nav {
    visibility: visible;
    width: 30%;
    opacity: 1;
  }
  html body .navigator .navi-bottom {
    display: none;
  }
  html body .main-card {
    position: relative;
    max-width: unset;
    width: auto;
  }
  html body .article-card {
    position: relative;
    width: auto;
    visibility: visible;
    opacity: 1;
    transform: scale(100%) translateX(0%);
  }
  html body .form-card {
    display: grid;
  }
  html body .form-card .form-card-close {
    transform: scale(1000%);
  }
  html body .form-card .form-content {
    justify-self: center;
    max-width: 600px;
  }
}
@media screen and (min-width: 1000px) {
  html body {
    grid-template-columns: 1fr 2fr 2fr;
  }
  html body header {
    grid-column-start: 2;
    width: 100%;
    grid-column-end: 4;
    grid-row-start: 1;
  }
  html body .navigator {
    width: 82%;
  }
  html body .first-aside {
    display: unset;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  html body .main-card {
    height: 100%;
    grid-column-start: 2;
    grid-row-start: 1;
  }
  html body .article-card {
    grid-column-start: 3;
    grid-row-start: 1;
  }
}
@media screen and (min-width: 1300px) {
  html body {
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }
  html body .navigator {
    width: 68%;
  }
  html body .second-aside {
    display: unset;
    order: 5;
    grid-row-start: 1;
    grid-column-start: 4;
    width: 100%;
  }
}
@media screen and (max-width: 385px) {
  html body html {
    font-size: 90%;
  }
  html body .mcard-price hr {
    height: 0.4rem;
  }
  html body .art-head {
    align-items: end;
  }
  html body .form-brief-content {
    min-width: 200px;
  }
  html body .form-brief-content .brief-brief .price-maths {
    min-width: unset;
    gap: 5px;
  }
  html body .form-content form {
    gap: 1rem;
  }
}

@font-face {
  font-family: PermanentMarker;
  src: url(images/font/PermanentMarker.ttf);
}
.preloader {
  visibility: visible;
  position: fixed;
  transform: unset;
  opacity: 1;
  transition: all 250ms ease-in 100ms;
}
.preloader div {
  animation: preloader ease-in-out 500ms infinite;
}
@keyframes preloader {
  to {
    transform: rotate(360deg);
  }
}

.preloader.js {
  visibility: hidden;
  transform: translateY(-30%);
  opacity: 0;
}

body {
  overscroll-behavior: none;
}

body.js {
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

aside {
  display: none;
  width: 100%;
  background-color: #f6f6f6;
  overflow: hidden;
  z-index: -1;
}
aside svg {
  transform: rotate(60deg) scale(300%) translate(-10%, 20%);
  fill: #ffffff;
}

header {
  background-color: #fdc900;
  position: sticky;
  top: 0;
  height: 2rem;
  display: grid;
  width: 100vw;
  z-index: 3;
  flex-grow: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  box-shadow: inset 0 -5.9px 6px rgba(51, 51, 51, 0.2666666667);
  transition: all 250ms ease-in 100ms;
}

header.js {
  height: 97dvh;
  box-shadow: 0 9px 15px rgba(34, 34, 34, 0.3333333333);
  font-family: "Fira sans";
  background-color: #fdc900;
}
header.js .header-content-wrapper {
  opacity: 1;
}
header.js .header-content-wrapper::-webkit-scrollbar {
  display: none;
}
header.js .header-content {
  transform: scale(100%) translateY(0%);
}
header.js .header-content .product {
  visibility: visible;
}

.header-content-wrapper {
  opacity: 0;
  position: sticky;
  top: 1rem;
  overflow-y: auto;
  padding: 1rem 0 3rem 0;
  transition: all 250ms ease-in 100ms;
}

.header-overlay {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 3rem;
  gap: 1rem;
  padding: 0.4rem 2rem 0 2rem;
  transition: all 200ms ease-in;
}
.header-overlay a svg {
  width: 2rem;
  transform: translate(50%, 40%);
}
.header-overlay a svg path {
  fill: #666666;
  transition: transform 100ms ease-in;
}
.header-overlay img {
  margin-top: -0.2rem;
  width: 1.7rem;
  filter: drop-shadow(0 0 2px rgba(85, 85, 85, 0.4));
}
.header-overlay strong {
  display: block;
  color: #00509d;
  font-family: "PermanentMarker", Rubik, Helvetica, sans-serif;
  font-size: 27px;
  transform: translateY(-30%);
}

header.js .header-overlay a svg .st0 {
  transform: translateY(0.9rem);
}
header.js .header-overlay a svg .st1 {
  transform: translateY(0.9rem);
}
header.js .header-overlay a svg .st2 {
  transform: translateY(-0.4rem);
}

.header-content {
  display: grid;
  max-width: 1000px;
  position: relative;
  left: 50%;
  translate: -50%;
  grid-template-columns: 47% 47%;
  justify-content: space-evenly;
  row-gap: 2rem;
  transform: scale(160%) translateY(60%);
  perspective: 900px;
  transition: transform 320ms ease-in 110ms;
  border-radius: 9px;
}
.header-content .product {
  visibility: hidden;
  position: relative;
  cursor: pointer;
  transition: all 250ms ease-in 100ms;
}
.header-content .product:hover {
  box-shadow: 0 10px 8px -3px rgba(17, 17, 17, 0.2666666667);
  transform: rotateX(5deg);
}
.header-content .product:active {
  box-shadow: 0 10px 10px -4px rgba(17, 17, 17, 0.3333333333);
  transform: rotateX(6deg);
}
.header-content .product.js .product-back {
  box-shadow: 0 9px 16px rgba(68, 68, 68, 0.3333333333);
  filter: grayscale(1);
}

.product-back {
  position: relative;
  height: 100%;
  border-radius: 9px;
  overflow: hidden;
  border: solid 1px #eee;
}
.product-back .pro-img {
  width: 100%;
  height: 20vh;
  min-height: 150px;
  overflow: hidden;
}
.product-back .pro-img img {
  width: 100%;
  height: 120%;
}

.pro-name {
  background-color: #00509d;
  display: flex;
  min-height: 100%;
  padding: 6px 1rem;
  color: #fff;
}
.pro-name h2 {
  font-size: 0.9rem;
}

.price-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 1rem;
}

.pro-cart {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  height: 1.7rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: #00509d;
  transition: all 250ms ease-in 100ms;
  animation: cartPulse 600ms ease-in-out infinite;
}
@keyframes cartPulse {
  from {
    box-shadow: unset;
  }
  50% {
    box-shadow: 0 0 0px 2.5px #00509d99;
    transform: scale(107%);
  }
  to {
    box-shadow: 0 0 0px 4px #00509d55;
  }
}
.pro-cart:hover,
.pro-cart :target {
  background-color: #fdb500;
}
.pro-cart img {
  width: 1rem;
}

.pro-price {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.navigator {
  display: grid;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.navigator.js .navi-overlay {
  animation: naviRightJs 500ms ease-in-out reverse;
}
.navigator.js .navi-overlay .navi-nav2 {
  order: 1;
  background-color: #00509d;
}
.navigator.js .navi-overlay .navi-nav1 {
  background-color: #00509d;
  flex-direction: row-reverse;
}
.navigator.js .navi-overlay .navi-nav1 span {
  color: #fff;
}
.navigator.js .navi-overlay .navi-nav1 img {
  transform: rotate(90deg);
}
.navigator.js .left {
  height: 0.4rem !important;
  width: 180% !important;
  background-color: #fdb500 !important;
  border-radius: 50% 0 0 0 !important;
}
.navigator.js .right {
  width: 100% !important;
  height: 0.2rem !important;
  background-color: #fdd800 !important;
  transition: all ease-in-out 400ms !important;
}
.navigator .navi-overlay {
  width: 90%;
  display: flex;
  max-height: 3rem;
  justify-self: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 0.4rem;
  opacity: 1;
  visibility: visible;
  transform: unset;
  transition: all 100ms ease-in;
  animation: naviJs 500ms ease-in-out;
}
.navigator .navi-overlay.remove .navi-nav1 {
  display: none;
}
.navigator .navi-overlay.scroll-js {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20%) scale(80%);
  transition: all 180ms ease-in;
}
.navigator .navi-overlay > * {
  display: flex;
  background-color: #fff;
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
  transition: all 80ms;
  cursor: pointer;
  box-shadow: 0 5px 5px -2px #00296b99;
}
.navigator .navi-overlay > *:hover {
  transform: scale(103%);
}
.navigator .navi-overlay > *:active {
  background-color: #fff;
  color: #000;
}
.navigator .navi-overlay .navi-nav1 {
  width: 40%;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  position: relative;
}
.navigator .navi-overlay .navi-nav1 img {
  width: 1.6rem;
  transform: rotate(270deg);
  margin: -0.2rem;
}
.navigator .navi-overlay .navi-nav2 {
  color: #fff;
  flex-grow: 1;
  height: 100%;
  display: flex;
  position: relative;
}
.navigator .navi-overlay .navi-nav2 > * {
  position: relative;
  transition: all 120ms ease-in;
}
.navigator .navi-overlay .navi-nav2.cart img {
  left: 10%;
}
.navigator .navi-overlay .navi-nav2.cart span {
  visibility: visible;
  left: 75%;
  color: #fff;
}
.navigator .navi-overlay .navi-nav2 img {
  left: 50%;
  translate: -50%;
  width: 1.6rem;
  margin: -0.2rem;
}
.navigator .navi-overlay .navi-nav2 span {
  left: 50%;
  display: flex;
  visibility: hidden;
  aspect-ratio: 1;
  background-color: #00509d;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
  box-shadow: 0 0 7px #fff;
}
@keyframes naviJs {
  0% {
    opacity: 1;
    translate: 0;
  }
  10% {
    opacity: 0.75;
    translate: 40%;
  }
  20% {
    opacity: 0.5;
    translate: 80%;
  }
  30% {
    opacity: 0.25;
    translate: 120%;
  }
  40% {
    opacity: 0;
    translate: 160%;
  }
  50% {
    opacity: 0;
    translate: -160%;
  }
  60% {
    opacity: 0;
    translate: -130%;
  }
  70% {
    opacity: 0.25;
    translate: -80%;
  }
  80% {
    opacity: 0.5;
    translate: -40%;
  }
  90% {
    opacity: 0.75;
    translate: -10%;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}
@keyframes naviRightJs {
  0% {
    opacity: 1;
    translate: 0;
  }
  10% {
    opacity: 0.75;
    translate: 10%;
  }
  20% {
    opacity: 0.5;
    translate: 40%;
  }
  30% {
    opacity: 0.25;
    translate: 80%;
  }
  40% {
    opacity: 0;
    translate: 130%;
  }
  50% {
    opacity: 0;
    translate: 160%;
  }
  60% {
    opacity: 0;
    translate: -160%;
  }
  70% {
    opacity: 0.25;
    translate: -120%;
  }
  80% {
    opacity: 0.5;
    translate: -80%;
  }
  90% {
    opacity: 0.75;
    translate: -40%;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}
.navigator .navi-bottom {
  display: flex;
  gap: 0.2rem;
  width: 100%;
  margin: 0.8rem 0 0 0;
  align-items: end;
}
.navigator .navi-bottom .left {
  width: 100%;
  height: 0.2rem;
  background-color: #fdd800;
  transition: all ease-in-out 400ms;
}
.navigator .navi-bottom .right {
  height: 0.4rem;
  background-color: #fdb500;
  width: 180%;
  border-radius: 0 50% 0 0;
}

.main-card {
  height: 100dvh;
  width: 100vw;
  overflow-x: hidden;
  max-width: 600px;
  background-image: linear-gradient(#00509d, #003f88);
  transition: all 200ms ease-in 100ms;
}
.main-card.main-go-js {
  transform: translateX(-90%) scale(60%);
}
.main-card.main-come-js {
  transform: unset;
}

.mcard-contents {
  padding: 1rem 2rem;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: start;
  flex-wrap: wrap;
}
.mcard-contents .more-tut-text {
  position: relative;
  transform: translateY(calc(var(--more-y) * -0.89));
}
.mcard-contents .more-tut-text p {
  color: #ddd !important;
}

.mcard-price {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 230%;
  align-self: center;
  color: #fdd800;
}
.mcard-price strong {
  width: 70%;
}
.mcard-price hr {
  border: none;
  height: 0.5rem;
  margin: 0 0 0 1rem;
  position: relative;
  width: 5rem;
  border-radius: 1rem;
  background-color: #fdb500;
  box-shadow: 0 0 9px #fdb500;
}

.mcard-images {
  position: relative;
  align-self: flex-start;
  width: 100%;
  justify-self: center;
  max-width: 45vh;
  margin: -1rem;
  height: 45vh;
}

.m-east-west {
  z-index: 1;
  position: absolute;
  inset: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 -1rem;
}
.m-east-west img {
  width: 14px;
}
.m-east-west > * {
  position: relative;
  display: flex;
  padding: 0.5rem;
  border-radius: 4px;
  overflow: hidden;
  align-items: center;
  background-color: rgba(68, 68, 68, 0.6);
  transition: transform 100ms ease-in;
}
.m-east-west a.m-east:hover {
  transform: translateX(-4px);
}
.m-east-west a.m-west:hover {
  transform: translateX(4px);
}

.mcard-images-overlay > * {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  top: 50%;
  transition: all 250ms ease-in 100ms;
}
.mcard-images-overlay > * img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 6px;
  transform: scale(80%);
  transition: all 250ms ease-in 100ms;
}
.mcard-images-overlay > *.index-js {
  z-index: 1;
  transform: translateZ(2);
  left: 50%;
}
.mcard-images-overlay > *.index-js img {
  box-shadow: 0 0 25px rgba(51, 51, 51, 0.5333333333);
  opacity: 1;
  transform: scale(100%);
}
.mcard-images-overlay .before-index img.js {
  animation: beforeSliderImg 160ms ease-in-out;
}
.mcard-images-overlay .after-index img.js {
  animation: afterSliderImg 160ms ease-in-out;
}
.mcard-images-overlay .index-js img.js {
  animation: headShake 800ms ease-in-out;
}
@keyframes beforeSliderImg {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(356deg);
  }
}
@keyframes afterSliderImg {
  from {
    transform: rotateY(6deg);
  }
  to {
    transform: rotateY(4deg);
  }
}
@keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.mcard-images-overlay .before-index,
.mcard-images-overlay .after-index {
  perspective: 100px;
}
.mcard-images-overlay ul {
  display: flex;
  justify-content: space-around;
  padding: 5px 30%;
  align-items: flex-end;
  left: 50%;
  top: 49%;
  gap: 4px;
  width: 100%;
  z-index: 2;
}
.mcard-images-overlay ul * {
  list-style: none;
  background-color: #777;
  box-shadow: 0 2px 4px -1.4px #000;
  width: 100%;
  height: 0.4rem;
  border-radius: 4px;
}
.mcard-images-overlay ul .active {
  transition: all 80ms ease-in;
  background-color: #999;
  width: 300%;
}
.mcard-images-overlay .before-index {
  right: calc(-50% - 5rem);
}
.mcard-images-overlay .before-index img {
  scale: 70%;
  transform: rotateY(356deg);
}
.mcard-images-overlay .after-index {
  left: calc(50% - 5rem);
}
.mcard-images-overlay .after-index img {
  scale: 70%;
  transform: rotateY(4deg);
}

.mcard-description {
  align-self: flex-start;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5;
}
.mcard-description h1 {
  font-size: 1.8rem !important;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1;
  color: #fff;
}
@media screen and (max-height: 680px) {
  .mcard-description h1 {
    font-size: 1.5rem;
  }
}
.mcard-description p {
  color: #bbb;
}

.article-card {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transform: scale(60%) translateX(130%);
  top: 0;
  padding: 2rem;
  height: 100dvh;
  background-color: #fff;
  overflow-y: scroll;
  transition: all 250ms ease-in 100ms;
}
.article-card.article-come-js {
  visibility: visible;
  opacity: 1;
  transform: unset;
}
.article-card.article-go-js {
  visibility: hidden;
  opacity: 0;
  transform: unset;
}

.article-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 700px;
  justify-content: space-evenly;
}
.article-content article {
  position: relative;
  padding: 2rem;
  margin: 0 -1rem;
}

.art-head {
  display: flex;
  align-self: center;
  justify-content: center;
  min-height: 6rem;
  text-align: center;
  align-items: center;
}

.art-vitals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.art-vitals > * {
  background-color: #f6f6f6;
  padding: 1rem;
  border-radius: 9px;
  box-shadow: inset 0 0 15px #eee;
}
.art-vitals > * h3 {
  padding: 7px 10px;
  border-radius: 1rem;
  box-shadow: 0 -5px 10px #ffffff, 0 5px 10px #e0e0e0;
  margin: 0 -5px;
  margin-bottom: 1rem;
  text-align: center;
}
.art-vitals table {
  border-spacing: 0;
  width: 100%;
}
.art-vitals table tbody {
  display: table;
  width: 100%;
}
.art-vitals table td {
  width: 50%;
  padding-bottom: 0.2rem;
}
.art-vitals table tr.ran1 td {
  border-bottom: solid 1px #ccc;
}
.art-vitals table td:nth-child(1) {
  border-right: solid 1px #ccc;
}
.art-vitals table td:nth-child(2) {
  padding-left: 6px;
}
.art-vitals .tags span {
  padding: 3px 12px;
  box-shadow: 0 7px 9px #fdb500, 2px 3px #f83;
  border-radius: 15px;
  background-color: #fdc900;
  font-size: 0.8rem;
}

.vit-price .vit-price-content {
  display: block;
  width: 100%;
}
.vit-price span {
  display: block;
  text-align: center;
  padding: 3px 12px;
  box-shadow: 0 7px 9px #fdb500, 2px 3px #f83;
  border-radius: 15px;
  background-color: #fdc900;
  position: relative;
  width: 100%;
  top: 4px;
}

.vit-material {
  grid-column-start: 1;
  grid-column-end: 3;
}
.vit-material .vit-mat-content {
  justify-self: center;
  display: grid;
}
.vit-material .vit-mat-content tbody {
  justify-self: center;
}
.vit-material > span {
  margin-bottom: auto;
  background-color: #fdd800;
  box-shadow: #fff;
  padding: 5px;
}
.vit-material .tags {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 10px;
  margin-top: 1rem;
}

.bulk-err-msg {
  visibility: hidden;
  opacity: 0;
  border: solid 3px rgba(255, 51, 0, 0.4666666667);
  position: fixed;
  top: 2rem;
  border-radius: 9px;
  width: 80%;
  height: auto;
  z-index: 99999;
  padding: 9px;
  background-color: rgba(255, 238, 238, 0.8);
  left: 50%;
  translate: -100%;
  color: #a00;
  transition: all 250ms ease-in 100ms;
}
.bulk-err-msg.js {
  visibility: visible;
  opacity: 1;
  left: 50%;
  translate: -50%;
}

.close-click {
  width: 3.8rem;
  height: 2rem;
  position: fixed;
  right: 0;
  background-color: #eee;
  bottom: 30%;
  border-radius: 0.4rem 0 0 0.4rem;
  box-shadow: -2px 2px 4px rgba(34, 34, 34, 0.4);
  z-index: 99;
  overflow: hidden;
  transform: translateX(5rem);
  /*&::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    right: 0px;
    bottom: 6px;
    background-image: linear-gradient(90deg, #ccc, #f0faff);
    border-radius: 2px 0 0 2px;
    box-shadow: -1px -1px #bccad0, 1px 1px #d8dce6, -3px -3px 4px #dfefff;
  }*/
}
.close-click.js {
  transform: none;
}
.close-click:hover {
  box-shadow: 0 0 0 1px #999;
}
.close-click .icon {
  color: #444;
  position: relative;
}
.close-click.ct {
  font-size: 1rem;
}
.header-overlay.noti-added {
  height: 5rem;
  flex-wrap: wrap;
}
.header-overlay.noti-added .notifications {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-family: "Fira sans";
  border-bottom: solid 2px #fdb500;
  padding-bottom: 0.5rem;
}
.header-overlay.noti-added .notifications > span {
  text-align: center;
  color: #fff;
  font-size: 1rem;
}
.header-overlay.noti-added .notifications a {
  font-size: 1.9rem;
  line-height: 0.4;
  color: #000;
}

.header-overlay img,
.mcard-contents > div:not(.mcard-price),
.article-content > article {
  transition: all 1.3s ease-out;
}
.header-overlay img.fly,
.mcard-contents > div:not(.mcard-price).fly,
.article-content > article.fly {
  transform: scale(80%) translateX(-70rem);
}

.header-overlay strong,
.navi-overlay,
.article-content > div,
.mcard-contents :first-child {
  transition: all 1.2s ease-out 100ms !important;
}
.header-overlay strong.fly,
.navi-overlay.fly,
.article-content > div.fly,
.mcard-contents :first-child.fly {
  transform: scale(80%) translateX(70rem);
}

header.fly {
  transition: all 350ms ease-out 400ms;
  height: 20rem;
}
header.fly a.ho {
  transform: scale(200%) translateY(5rem);
}
header a {
  transition: all 400ms 350ms;
}