body, ::before, ::after, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "rubik", Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar {
  scroll-behavior: smooth;
  display: none;
}

* {
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

* img {
  font-style: italic;
}

body {
  min-width: 300px;
  overflow-x: hidden;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}

P {
  line-height: 1.5;
  font-family: "fira Sans", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

span {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  transition: color 150ms ease-in-out;
}
a:hover {
  color: #333;
}

button {
  border: none;
  cursor: pointer;
}

.form-card {
  width: 100%;
  text-align: center;
  visibility: hidden;
  height: 100lvh;
  z-index: 99;
  position: fixed;
  inset: 0;
  background-color: rgba(85, 85, 85, 0.4666666667);
  opacity: 0;
  transition: all 400ms ease-in-out;
}
.form-card .form-card-close {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
}
.form-card .form-card-close a {
  display: block;
  height: 100%;
}
.form-card .form-card-close a span {
  align-self: center;
  font-size: 2rem;
}
.form-card.js {
  visibility: visible;
  opacity: 1;
}
.form-card.js .form-content {
  transform: unset;
}
.form-card .form-content {
  display: grid;
  grid-template-rows: 1fr 4rem 3fr;
  align-items: space-between;
  transform: translateY(110%);
  position: absolute;
  height: 95%;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  transition: all 300ms ease-in-out;
}
.form-card .form-content .form-brief {
  width: 100%;
}
.form-card .form-content .form-brief h2 {
  font-size: 2.5rem;
}
.form-card .form-content .form-brief .form-brief-content {
  margin-top: 1rem;
  z-index: 999;
  box-shadow: 0 0 10px #ccc;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #ddd;
  border-radius: 1rem;
  overflow: hidden;
}
.form-card .form-content .form-brief .form-brief-content .brief-brief {
  text-align: start;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
}
.form-card .form-content .form-brief .form-brief-content .brief-brief > p {
  display: block;
  position: relative;
  left: -20%;
  translate: 50%;
  font-size: 1.2rem;
}
.form-card .form-content .form-brief .form-brief-content .brief-brief .price-maths {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
.form-card .form-content .form-brief .form-brief-content .brief-brief .price-maths button {
  font-size: 1.5rem;
  padding: 0 8px;
  border-radius: 4px;
}
.form-card .form-content .form-brief .form-brief-content span {
  text-align: center;
}
.form-card .form-content .form-brief .form-brief-content img {
  width: 100%;
  height: 120px;
}
.form-card .form-content .form-brief .brief-total {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #fdc900;
  width: 90%;
  font-size: 0.9rem;
  left: 50%;
  translate: -50%;
  padding: 4px;
  border-radius: 0 0 1rem 1rem;
  box-shadow: inset 0 3px 5px #ccc;
}
.form-card .form-content p, .form-card .form-content span {
  display: block;
  align-self: center;
  font-size: 0.8rem;
}
.form-card .form-content strong {
  font-size: 1.2rem;
}
.form-card .form-content form {
  display: grid;
  align-items: start;
  align-self: end;
  padding-bottom: 2rem;
  gap: 1.2rem;
}
.form-card .form-content form .form-date {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  gap: 5px 1rem;
}
.form-card .form-content form .form-date label {
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
}
.form-card .form-content form .form-date input {
  width: 150px !important;
  border: solid 1px #333 !important;
  background-color: #ccc;
  border-radius: 5px;
  padding: 6px 1rem;
}
.form-card .form-content form .form-date input[type=date] {
  width: 70px;
}
.form-card .form-content form .form-date a {
  background-color: #00509D;
  padding: 4px 1rem;
}
.form-card .form-content form input:not(input[type=submit]) {
  width: 100%;
  height: 1.8rem;
  padding: 5px 1rem;
  border: none;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0);
}
.form-card .form-content form input::placeholder {
  color: #333;
  font-size: 1.1rem;
}
.form-card .form-content form hr {
  border: dashed 1px;
}
.form-card .form-content form .form-name-phone div.js,
.form-card .form-content form .form-location div.js,
.form-card .form-content form .form-prefer div.js {
  border: solid 2px black;
  transform: scale(110%);
  transition: transform 200ms ease-in-out;
}
.form-card .form-content form .form-name-phone div.js label,
.form-card .form-content form .form-location div.js label,
.form-card .form-content form .form-prefer div.js label {
  transform: scale(65%) translate(-20%, -25%);
  color: rgba(68, 68, 68, 0.6);
}
.form-card .form-content form .form-name-phone div.js input,
.form-card .form-content form .form-location div.js input,
.form-card .form-content form .form-prefer div.js input {
  position: absolute;
  bottom: 0;
}
.form-card .form-content form .form-name-phone div.done-js,
.form-card .form-content form .form-location div.done-js,
.form-card .form-content form .form-prefer div.done-js {
  border: solid 2px #07f;
  transform: scale(100%);
}
.form-card .form-content form .form-name-phone div.done-js label,
.form-card .form-content form .form-location div.done-js label,
.form-card .form-content form .form-prefer div.done-js label {
  transform: scale(65%) translate(-20%, -25%);
}
.form-card .form-content form .form-name-phone div.done-js input,
.form-card .form-content form .form-location div.done-js input,
.form-card .form-content form .form-prefer div.done-js input {
  position: absolute;
  bottom: 0;
}
.form-card .form-content form .form-name-phone div,
.form-card .form-content form .form-location div,
.form-card .form-content form .form-prefer div {
  border: solid 1px rgba(68, 68, 68, 0.1333333333);
  border-radius: 6px;
  height: 2.7rem;
  background-color: #fbfbfb;
  position: relative;
}
.form-card .form-content form .form-name-phone div label,
.form-card .form-content form .form-location div label,
.form-card .form-content form .form-prefer div label {
  position: absolute;
  color: #666;
  transition: all ease-in-out 200ms;
  transform: scale(100%) translate(15%, 60%);
}
.form-card .form-content form input:focus {
  border: rgba(0, 0, 0, 0);
  outline: rgba(0, 0, 0, 0);
}
.form-card .form-content form .strong-location {
  margin-top: 2rem;
}
.form-card .form-content form .form-name-phone, .form-card .form-content form .form-location {
  display: flex;
  text-align: start;
  gap: 1rem;
}
.form-card .form-content form .form-name-phone div, .form-card .form-content form .form-location div {
  flex-grow: 1;
  display: grid;
  width: 50%;
}
.form-card .form-content form .required-field {
  display: block;
  position: absolute;
  translate: 1rem 1.2rem;
  color: #f72;
  bottom: 0;
}
.form-card .form-content form input[type=submit] {
  justify-self: center;
  border: none;
  border-radius: 7px;
  padding: 0.7rem 1rem;
  background-color: #fdb500;
  width: 80%;
}

meta[name=theme-color] {
  background-color: #ffffff;
  color: #6ff444;
}

header {
  background-color: #fdc900;
  position: sticky;
  top: 0;
  height: 2rem;
  width: 100vw;
  flex-grow: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 9;
  box-shadow: inset 0 -5.9px 6px rgba(51, 51, 51, 0.2666666667);
}
header .header-overlay {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 3rem;
}
header .header-overlay img {
  width: 5rem;
  top: 0;
  filter: drop-shadow(0 0 4px rgba(68, 68, 68, 0.5333333333));
}
header .header-overlay span {
  font-weight: 700;
  font-size: 1.2rem;
}

.navigator {
  display: grid;
  position: fixed;
  width: 100%;
  bottom: 0;
  max-width: 650px;
}
.navigator .navi-overlay {
  width: 90%;
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  gap: 0.4rem;
  opacity: 1;
  visibility: visible;
  transform: unset;
  transition: all 200ms ease-in-out;
}
.navigator .navi-overlay.js {
  animation: naviJs 700ms ease-in-out;
}
.navigator .navi-overlay.go-js {
  animation: naviRightJs 700ms ease-in-out reverse;
}
.navigator .navi-overlay.scroll-js {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30%) scale(80%);
}
.navigator .navi-overlay > * {
  display: flex;
  background-color: #fff;
  padding: 9px 0.9rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all ease-in-out 600ms;
}
.navigator .navi-overlay > *:hover {
  transform: scale(104%);
}
.navigator .navi-overlay > *:active {
  background-color: #fff;
  color: #000;
}
@keyframes naviJs {
  0% {
    transform: unset;
  }
  10% {
    opacity: 0.75;
    transform: translateX(40%);
  }
  20% {
    opacity: 0.5;
    transform: translateX(80%);
  }
  30% {
    transform: translateX(120%);
    opacity: 0.25;
  }
  40% {
    opacity: 0;
    transform: translateX(160%);
  }
  50% {
    opacity: 0;
    transform: translateX(-160%);
  }
  60% {
    opacity: 0;
    transform: translateX(-130%);
  }
  70% {
    opacity: 0.25;
    transform: translateX(-80%);
  }
  80% {
    opacity: 0.5;
    transform: translateX(-40%);
  }
  90% {
    opacity: 0.75;
    transform: translateX(-10%);
  }
  100% {
    transform: unset;
  }
}
@keyframes naviRightJs {
  0% {
    transform: unset;
  }
  10% {
    opacity: 0.75;
    transform: translateX(40%);
  }
  20% {
    opacity: 0.5;
    transform: translateX(80%);
  }
  30% {
    transform: translateX(120%);
    opacity: 0.25;
  }
  40% {
    opacity: 0;
    transform: translateX(160%);
  }
  50% {
    opacity: 0;
    transform: translateX(-160%);
  }
  60% {
    opacity: 0;
    transform: translateX(-130%);
  }
  70% {
    opacity: 0.25;
    transform: translateX(-80%);
  }
  80% {
    opacity: 0.5;
    transform: translateX(-40%);
  }
  90% {
    opacity: 0.75;
    transform: translateX(-10%);
  }
  100% {
    transform: unset;
  }
}
.navigator .navi-overlay .navi-nav1 {
  width: 40%;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}
.navigator .navi-overlay .navi-nav1 img {
  width: 1.6rem;
  transform: rotate(270deg);
  margin: -0.2rem;
}
.navigator .navi-overlay .navi-nav1.js {
  background-color: #00509D;
  color: #fff;
  box-shadow: 0 0 10px #ddd;
  flex-direction: row-reverse;
}
.navigator .navi-overlay .navi-nav1.js img {
  transform: rotate(90deg);
}
.navigator .navi-overlay .navi-nav2 {
  justify-content: center;
  color: #fff;
  flex-grow: 1;
}
.navigator .navi-overlay .navi-nav2 img {
  width: 1.6rem;
  margin: -0.2rem;
}
.navigator .navi-overlay .navi-nav2.js {
  background-color: #00509D;
  box-shadow: 0 0 10px #ddd;
}
.navigator .navi-bottom {
  display: flex;
  gap: 0.2rem;
  width: 100%;
  margin: 0.8rem 0 0 0;
  align-items: end;
}
.navigator .navi-bottom * {
  width: 100%;
  height: 0.2rem;
  background-color: #fdd800;
  transition: all ease-in-out 600ms;
}
.navigator .navi-bottom .right.js {
  height: 0.4rem;
  width: 180%;
  background-color: #fdb500;
  border-radius: 50% 0 0 0;
}
.navigator .navi-bottom .left.js {
  height: 0.4rem;
  background-color: #fdb500;
  width: 180%;
  border-radius: 0 50% 0 0;
}

.main-card {
  height: 100vh;
  min-height: 810px;
  max-width: 550px;
  box-shadow: 0 0 10px #333;
  background-image: linear-gradient(#00509D, #003F88);
  transition: transform ease-in-out 400ms;
}
.main-card.main-go-js {
  visibility: hidden;
  transform: translateX(-90%) scale(60%);
}
.main-card.main-come-js {
  visibility: visible;
  transform: unset;
}
.main-card .mcard-contents {
  padding: 0 2rem;
  height: 95%;
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: start;
}
.main-card .mcard-contents .mcard-price {
  min-height: 5vh;
  height: 10vh;
  align-self: end;
  font-weight: 700;
  font-size: 230%;
  color: #fdd800;
}
.main-card .mcard-contents .mcard-price hr {
  border: none;
  height: 0.5rem;
  margin: 0 0 0 1rem;
  position: relative;
  width: 30%;
  align-self: end;
  border-radius: 1rem;
  background-color: #fdb500;
  box-shadow: 0 0 9px #fdb500;
}
.main-card .mcard-contents .mcard-images {
  position: relative;
  width: 100%;
  place-self: center;
  max-width: 45vh;
  margin: -1rem;
  height: 45vh;
}
.main-card .mcard-contents .mcard-images .m-east-west {
  z-index: 4;
  position: absolute;
  inset: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 -1rem;
}
.main-card .mcard-contents .mcard-images .m-east-west img {
  width: 18px;
}
.main-card .mcard-contents .mcard-images .m-east-west > * {
  position: relative;
  backdrop-filter: blur(10px);
  display: flex;
  box-shadow: 0 0 10px rgba(17, 17, 17, 0.4666666667);
  padding: 0.5rem;
  border-radius: 4px;
  overflow: hidden;
  align-items: center;
  background-color: rgba(68, 68, 68, 0.4);
  visibility: hidden;
  opacity: 0;
  transform: scale(30%);
  transition: all 200ms ease-in-out;
}
.main-card .mcard-contents .mcard-images .m-east-west > *.hidden-js {
  visibility: visible;
  transform: scale(100%);
  opacity: 1;
}
.main-card .mcard-contents .mcard-images .m-east-west a.m-east:hover {
  transform: translateX(-5px);
}
.main-card .mcard-contents .mcard-images .m-east-west a.m-west:hover {
  transform: translateX(5px);
}
.main-card .mcard-contents .mcard-images .mcard-images-overlay > * {
  position: absolute;
  align-content: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 6px;
  width: 80%;
  aspect-ratio: 1;
}
.main-card .mcard-contents .mcard-images .mcard-images-overlay > * img {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transform: scale(70%);
}
.main-card .mcard-contents .mcard-images .mcard-images-overlay > *.index-js {
  z-index: 3;
  width: 100%;
}
.main-card .mcard-contents .mcard-images .mcard-images-overlay > *.index-js img {
  opacity: 1;
  transform: scale(100%);
}
.main-card .mcard-contents .mcard-description {
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.5;
}
.main-card .mcard-contents .mcard-description p {
  color: #bbb;
}

.article-card {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transform: scale(60%) translateX(130%);
  top: 0;
  padding: 2rem;
  height: 100vh;
  background-color: #fff;
  transition: all ease-out 400ms;
}
.article-card.article-come-js {
  visibility: visible;
  opacity: 1;
  transform: unset;
}
.article-card.article-go-js {
  visibility: hidden;
  opacity: 0;
  transform: unset;
}
.article-card .article-content {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-evenly;
}
.article-card .article-content .art-head {
  text-align: center;
}
.article-card .article-content .art-vitals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.article-card .article-content .art-vitals > * {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 9px;
  box-shadow: inset 0 0 20px #eee;
}
.article-card .article-content .art-vitals > * h3 {
  padding: 7px 10px;
  border-radius: 1rem;
  box-shadow: 0 -10px 10px #ffffff, 0 10px 10px #eee;
  margin: 0 -5px;
  margin-bottom: 1rem;
  text-align: center;
}
.article-card .article-content .art-vitals .vit-price .vit-price-content {
  display: block;
  width: 100%;
}
.article-card .article-content .art-vitals .vit-price .vit-price-content table {
  border-spacing: 0;
  width: 100%;
}
.article-card .article-content .art-vitals .vit-price .vit-price-content td {
  width: 50%;
  margin-bottom: 8px;
  padding-bottom: 0.2rem;
}
.article-card .article-content .art-vitals .vit-price .vit-price-content tr.product td {
  border-bottom: solid 1px #666;
}
.article-card .article-content .art-vitals .vit-price .vit-price-content td:nth-child(1) {
  border-right: solid 1px #333;
}
.article-card .article-content .art-vitals .vit-price .vit-price-content td:nth-child(2) {
  padding-left: 6px;
}
.article-card .article-content .art-vitals .vit-price span {
  display: block;
  text-align: center;
  padding: 3px 12px;
  box-shadow: 0 7px 9px #fdb500, 2px 3px #f83;
  border-radius: 15px;
  background-color: #fdc900;
  position: relative;
  width: 100%;
  top: 4px;
}
.article-card .article-content .art-vitals .vit-material {
  display: flex;
  flex-direction: column;
  grid-template-rows: auto auto auto;
  grid-column-start: 1;
  grid-column-end: 3;
}
.article-card .article-content .art-vitals .vit-material .vit-mat-content {
  justify-content: space-evenly;
  display: flex;
}
.article-card .article-content .art-vitals .vit-material .vit-mat-content > * {
  display: block;
}
.article-card .article-content .art-vitals .vit-material .vit-mat-content > * span {
  display: block;
}
.article-card .article-content .art-vitals .vit-material > span {
  margin-bottom: auto;
  background-color: #fdd800;
  box-shadow: #fff;
  padding: 5px;
}
.article-card .article-content .art-vitals .vit-material .tags {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 10px;
  margin-top: 1rem;
}
.article-card .article-content .art-vitals .vit-material .tags > * {
  padding: 3px 12px;
  box-shadow: 0 7px 9px #fdb500, 2px 3px #f83;
  border-radius: 15px;
  background-color: #fdc900;
  font-size: 0.8rem;
}
.article-card .article-content article {
  position: relative;
  padding: 2rem;
  margin: 0 -2rem;
  background-color: #f8f8f8;
}

.bulk-err-msg {
  visibility: hidden;
  opacity: 0;
  border: solid 2px rgba(255, 51, 0, 0.4666666667);
  position: fixed;
  top: 2rem;
  border-radius: 9px;
  width: 80%;
  height: auto;
  z-index: 99999;
  padding: 9px;
  background-color: rgba(238, 238, 238, 0.6);
  backdrop-filter: blur(15px);
  left: 50%;
  translate: -100%;
  transition: all 500ms ease-in-out;
  color: #a00;
}
.bulk-err-msg.js {
  visibility: visible;
  opacity: 1;
  left: 50%;
  translate: -50%;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  span {
    font-size: 0.9rem;
  }
  P {
    letter-spacing: 1;
  }
  .main-card, .article-card {
    padding: 0.4rem;
  }
  .main-card .mcard-contents, .article-card .mcard-contents {
    height: 95vh;
    padding: 0 0.8rem;
  }
  .main-card .article-content, .article-card .article-content {
    height: 95vh;
    min-width: fit-content;
  }
}
@media screen and (max-height: 700px) {
  .article-card {
    margin: 1.8rem 0;
  }
  .article-card .article-content {
    display: grid;
    grid-auto-flow: row;
  }
  .article-card .article-content .art-head {
    font-size: 1.7rem;
  }
  .article-card .article-content .art-vitals h3 {
    padding: 0.2rem 0.5rem;
  }
}
@media screen and (min-height: 740px) {
  .form-card .form-card-close {
    opacity: 0;
  }
  .form-card .form-content {
    height: 85lvh;
  }
  .form-card .form-content form {
    gap: 2rem;
  }
}