/////////////////////////////////////////////////////
/// Position center elements 
.form-card-close,
.brief-brief *:not(img),
.overall-total
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-card{
  width: 100%;
  text-align: center;
  visibility: hidden;
  height: 100dvh;
  z-index: 99;
  position: fixed;
  inset: 0;
  opacity: 0;
  background-color: #3336;
  backdrop-filter: blur(5px);
  transition: all 250ms ease-in 100ms;
  &.js{
    visibility: visible;
    opacity: 1;
    .form-content{
      transform: unset;
    }
  }
}
.form-card-close{
  height: 50%;
  a{
    display: block;
    height: 100%;
    span{
      font-size: 2rem;
      color: #fff;
    }
  }
}
.form-content{
  display: grid;
  grid-template-rows: 3.7rem 1fr 6fr;
  transform: translateY(110%);
  position: absolute;
  height: 92%;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  box-shadow: 0px -5px 25px #3333;
  transition: all 250ms ease-in 100ms;
  *:not(.form-brief img){
    border-radius: 6px;
  }
  h2{
    display: grid;
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
  }
  p, span{
    display: block;
    font-size: .8rem;
  }
  strong{
    font-size: 1.2rem;
  }
}
.form-brief{
  width: 100%;
  height: 150%;
  position: relative;
  align-items: center;
  overflow-x: auto;
  margin: 0 -1rem;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  padding: 0 1rem;
}
.form-brief-content{
  width: 230px;
  position: relative;
}
.brief-brief{
  display: flex;
  border-radius: 1rem !important;
  overflow: hidden;
  height: 100px;
  box-shadow: 0 5px 6px -2px  #8889;
  background-color: #ddd;
  *:not(img) {
    justify-items: center;
  }
  h3{
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: .9rem;
    white-space: nowrap;
  }
  img{
    width: 40%;
    aspect-ratio: 1;
  }
  .brief-side{
    padding: 10px;
    display: grid;
    width: 100%;
  }
  .price-maths{
    min-width: 110px;
    width: 90%;
    justify-content: space-between;
    button{
      font-size: 1.5rem;
      padding: 0 8px;
      background-color: #eee;
    }
    .minus{
      color: #f44;
      padding: 5px;
      font-size: .9rem;
      letter-spacing: -1px;
    }
  }
}
.brief-total{
  position: relative;
  background-color: $myellow;
  width: 90%;
  font-size: .9rem;
  left: 50%;
  translate: -50%;
  border-radius: 0 0 1rem 1rem !important;
  box-shadow: inset 0 3px 5px #8886;
  strong{font-size: 1rem;}
}
form{
  display: grid;
  align-content: space-evenly;
  align-self: end;
  gap: 1.2rem;
  input:not(input[type='submit']){
    width: 100%;
    height: 1.8rem;
    padding: 5px 1rem;
    border: none;
    font-size: 1.1rem;
    background-color: #0000;
  }
  input::placeholder{
    color: #333;
    font-size: 1.1rem;
  }
  hr{
    border: dashed 1px ;
  }
  input:focus{
    border: #0000;
    outline: #0000;
  }
}
.form-date{
  display: grid;
  grid-template-columns: auto auto ;
  justify-content: space-evenly;
  gap:5px 1rem;
  label{
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
  }
  input{
    width: 150px !important;
    border: solid 1px #333 !important; 
    background-color: #ccc ;
    padding: 6px 1rem;
  }
  input[type='date']{
    width: 70px;
  }
  a{
    background-color: $tblue;
    padding: 4px 1rem;
  }
}
.form-name-phone div.js,
.form-location div.js,
.form-prefer div.js
{
  border: solid 2px black;
  transform: scale(110%);
  transition: all 120ms ease-in;
  label{
    transform: scale(65%) translate(-20%, -25%) ;
    color: #4449;
    transition: all 120ms ease-in;
  }
  input{
    position: absolute;
    bottom: 0;
  }
}
.form-name-phone div.done-js,
.form-location div.done-js,
.form-prefer div.done-js
{
  border: solid 2px #07f;
  transform: scale(100%);
  label{
    transform: scale(65%) translate(-20%, -25%);
  }
  input{
    position: absolute;
    bottom: 0;
  }
}
.form-name-phone div,
.form-location div,
.form-prefer div{
  border: solid 1px  #4442;
  height: 2.7rem;
  background-color: #fbfbfb;
  position: relative;
  label{
    position: absolute;
    color: #666;
    transform: scale(100%) translate(15%, 60%);
  }
}
.strong-location{
  margin-top: 2rem;
}
.form-name-phone, .form-location{
  display: flex;
  text-align: start;
  gap: 1rem;
  div{
    flex-grow: 1;
    display: grid;
    width: 50%;
  }
}
.required-field{
  display: block;
  position: absolute;
  translate: 1rem 1.2rem;
  color: #f72;
  bottom: 0;
}
.done-js{
  display: flex;
  justify-self: center;
  align-items: center;
  height: 2.5rem;
  padding: .1rem .5rem;
  background-color: $oyellow;
  width: 90%;
  input[type="submit"] {
    border: 0;
    width: 100%;
    background-color: #0000;
    justify-self: center;
    color: #fff;
    text-shadow: 0 0 5px#fff;
    font-size: 1.2rem;
  }
  .overall-total{
    flex-shrink: 0;
    background-color: #fefaee;
    height: 95%;
    padding:0 .5rem;
    margin-left: auto;
    strong{
      font-size: 1rem;
      font-weight: 600;
    }
  }
}