body, ::before, ::after, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'rubik', Arial, Helvetica, sans-serif;
}

*:not(.form-brief):-webkit-scrollbar{
  scroll-behavior: smooth;
  display: none;
}

*:not(.form-brief){
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

* img{
  font-style: italic;
}

body{
  min-width: 300px;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

P{
  line-height: 1.5;
  font-family:"fira Sans", Helvetica, sans-serif;
  color: #444;
}

span, tr,td{
  font-weight: 100;
  font-size: .9rem;
  color: #444;
}

a{
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  transition: color 150ms ease-in-out;

  &:hover{
    color: #333;
  }
}

button{
  border: none;
  cursor: pointer;
}