body, ::before, ::after, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'rubik', Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar{
  scroll-behavior: smooth;
  display: none;
}

*{
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body{
  min-width: 300px;
  overflow-x: hidden;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}

P{
  line-height: 1.5;
  font-family:"fira Sans", Helvetica, sans-serif;
}