@import '_variables.scss';
@import '_globals.scss';
@import '_form.scss';
@font-face {
  font-family: PermanentMarker;
  src: url(images/font/PermanentMarker.ttf);
}
// html{overscroll-behavior: none;}
.preloader{
  visibility: visible;
  position: fixed;
  transform: unset;
  opacity: 1;
  transition: all 250ms ease-in 100ms;
  div{
    animation: preloader ease-in-out 500ms infinite ; 
  }
  @keyframes preloader {
    from{
      transform: rotate(190);
    }
    to{
      transform: rotate(360deg);
    }
  }
}
.preloader.js {
  visibility: hidden;
  transform: translateY(-30%);
  opacity: 0;
}
body{overscroll-behavior: none;}
body.js{overflow: hidden}
body::-webkit-scrollbar{display: none;}
aside{
  display: none;
  width: 100%;
  background-color: #f6f6f6;
  overflow: hidden;
  z-index: -1;
  svg{
    transform: rotate(60deg) scale(300%) translate(-10%, 20%);
    fill: #ffffff;
  }
}
header{
  background-color: $myellow;
  position: sticky;
  top: 0;
  height: 2rem;
  display: grid;
  width: 100vw;
  z-index: 3;
  flex-grow: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  box-shadow: inset 0 -5.9px 6px #3334;
  transition: all 250ms ease-in 100ms;
}
header.js{
  height: 97dvh;
  box-shadow: 0 9px 15px #2225;
  font-family: 'Fira sans';
  background-color: $myellow;
  .header-content-wrapper{
    opacity: 1;
    &::-webkit-scrollbar{
      display: none;
    }
  }
  .header-content{
    transform: scale(100%) translateY(0%);
    .product{visibility: visible;}
  }
}
.header-content-wrapper{
  opacity: 0;
  position:  sticky;
  top: 1rem;
  overflow-y: auto;
  background-color: $myellow;
  padding: 1rem 0 3rem 0;
  transition: all 250ms ease-in 100ms;
}
.header-overlay{
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 3rem;
  gap: 1rem;
  padding:.4rem 2rem 0 2rem;
  transition: all 200ms ease-in;
  a svg{
    width: 2rem;
    transform: translate(50%, 40%);
    path{
      fill:#666666;
      transition: transform 100ms ease-in;
    }

  }
  img{
    margin-top: -.2rem;
    width: 1.7rem;
    filter: drop-shadow(0 0 2px #5556);
  }
  strong{
    display: block;
    color: $tblue;
    font-family: "PermanentMarker", Rubik, Helvetica, sans-serif;
    font-size: 27px;
    transform: translateY(-30%);
  }
}
/// clicked header animation
header.js .header-overlay a{
  svg {
    .st0{transform: translateY(.5rem);}
    .st1{transform: translateY(.5rem);}
    .st2{transform: translateY(-.5rem);}
  }
}
.header-content{
  display: grid;
  max-width: 1000px;
  position: relative;
  left: 50%;
  translate: -50%;
  grid-template-columns: 47% 47%;
  justify-content: space-evenly;
  row-gap: 2rem;
  transform: scale(160%) translateY(60%);
  perspective: 900px;
  transition: transform 320ms ease-in 110ms;
  border-radius: 9px;
  .product{
    visibility: hidden;
    position: relative;
    cursor: pointer;
    transition: all 250ms ease-in 100ms;
    &:hover{
      box-shadow: 0 10px 8px -3px #1114;
      transform: rotateX(5deg);
    }
    &:active {
      box-shadow: 0 10px 10px -4px #1115;
      transform: rotateX(6deg);
    }
    &.js{
      .product-back{
        box-shadow: 0 9px 16px #4445;
        filter: grayscale(1);
      }
    }
  }
}
.product-back{
  position: relative;
  height: 100%;
  border-radius: 9px;
  overflow: hidden;
  border: solid 1px #eee;
  box-shadow: 0 0 15px #4444;
  .pro-img{
    width: 100%;
    height: 20vh;
    min-height: 150px;
    overflow: hidden;
    img{
      width: 100%;
      height: 120%;
    }
  }
}
.pro-name{
  background-color: $tblue;
  display: flex;
  min-height: 100%;
  padding: 6px 1rem;
  color: #fff;
  h2{
    font-size: .9rem;
  }
}
.price-cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .4rem 1rem;
}
.pro-cart{
  display: flex;
  align-items: center;
  padding:.4rem;
  height: 1.7rem;
  border-radius: .5rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: $tblue;
  transition: all 250ms ease-in 100ms;
  animation: cartPulse 600ms ease-in-out infinite;
  @keyframes cartPulse {
    from{
      box-shadow: unset;
    }
    50%{
      box-shadow: -0 0 0px 2.5px #{$tblue}99;
      transform: scale(107%);
    }
    to{
      box-shadow: -0 0 0px 4px #{$tblue}55;
    }
  }
  &:hover, :target{
    background-color: $oyellow;
  }
  img{
    width: 1rem;
  }
}
.pro-price{
  color: #0009;
  text-align: center;
}

.navigator{
  display: grid;
  position: fixed;
  width: 100%;
  bottom: 0;
  &.js {
    .navi-overlay{
      animation: naviRightJs 500ms ease-in-out reverse;
      .navi-nav2{
        order: 1;
        background-color: $tblue;
      }
      .navi-nav1{
        background-color: $tblue;
        flex-direction: row-reverse;
        span{
          color: #fff ;
        }
        img{
          transform: rotate(90deg);
        }
      }
    }
    .left{
      height: .4rem !important;
      width: 180% !important;
      background-color: $oyellow !important;
      border-radius: 50% 0 0 0 !important;
    }
    .right{
      width: 100% !important;
      height: .2rem !important;
      background-color: $yyellow !important;
      transition: all ease-in-out 400ms !important;
    }
  }
  .navi-overlay{
    width: 90%;
    display: flex;
    max-height: 3rem;
    justify-self: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: .4rem;
    opacity: 1;
    visibility: visible;
    transform: unset;
    transition: all 100ms ease-in;
    animation: naviJs 500ms ease-in-out;
    &.remove {
      .navi-nav1{
        display: none;
      }
    }
    &.scroll-js{
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20%) scale(80%);
      transition: all 180ms ease-in;
    }
    > *{
      display: flex;
      background-color: #fff;
      padding: .3rem .8rem;
      border-radius: 4px;
      transition: all 80ms;
      cursor: pointer;
      box-shadow: 0 5px 5px -2px #{$fblue}99;
    }
    > *:hover{
      transform: scale(103%);
    }
    > *:active{
      background-color: #fff;
      color: #000;
    }
    .navi-nav1{
      width: 40%;
      align-items: center;
      justify-content: space-between;
      font-size: .8rem;
      position: relative;
      
      img{
        width: 1.6rem;
        transform: rotate(270deg);
        margin: -.2rem;
      }
    }
    .navi-nav2{
      color: #fff;
      flex-grow: 1;
      height: 100%;
      display: flex;
      position: relative;
      > *{
        position: relative;
        transition: all 120ms ease-in;
      }
      &.cart{
        img{
          left: 10%;
        }
        span{
          visibility: visible;
          left: 75%;
          color: #fff;
        }
      }
      img{
        left: 50%;
        translate: -50%;
        width: 1.6rem;
        margin: -.2rem;
      }
      span{
        left: 50%;
        display: flex;
        visibility: hidden;
        aspect-ratio: 1;
        background-color: $tblue;
        justify-content: center;
        align-items: center;
        padding: .3rem .6rem;
        border-radius: 1rem;
        box-shadow: 0 0 7px #fff;
      }
    }
    @keyframes naviJs{
      0%{opacity: 1; translate: 0}
     10%{opacity: .75; translate: 40%}
     20%{opacity: .5; translate: 80%}
     30%{opacity: .25; translate: 120%}
     40%{opacity: 0; translate: 160%}
     50%{opacity: 0; translate: -160%}
     60%{opacity: 0; translate: -130%}
     70%{opacity: .25; translate: -80%}
     80%{opacity: .5; translate: -40%}
     90%{opacity: .75;translate: -10%}
     100%{opacity: 1; translate: 0}
    }
    @keyframes naviRightJs {
      0%{opacity: 1; translate: 0}
      10%{opacity: .75; translate: 10%}
      20%{opacity: .5; translate: 40%}
      30%{opacity: .25; translate: 80%}
      40%{opacity: 0; translate: 130%}
      50%{opacity: 0; translate: 160%}
      60%{opacity: 0; translate: -160%}
      70%{opacity: .25; translate: -120%}
      80%{opacity: .5; translate: -80%}
      90%{opacity: .75;translate: -40%}
      100%{opacity: 1; translate: 0}
    }
  }
  .navi-bottom{
    display: flex;
    gap: .2rem;
    width: 100%;
    margin: .8rem 0 0 0;
    align-items: end;
    .left{
      width: 100%;
      height: .2rem;
      background-color: $yyellow;
      transition: all ease-in-out 400ms;
    }
    .right{
      height: .4rem;
      background-color: $oyellow;
      width: 180%;
      border-radius:0 50% 0 0;
    }
  }
}
.main-card{
  height: 100dvh;
  width: 100vw;
  overflow-x: hidden;
  max-width: 600px;
  background-image: linear-gradient($tblue, $sblue);
  transition: all 200ms ease-in 100ms;
  &.main-go-js{
    transform: translateX(-90%) scale(60%);
  }
  &.main-come-js{
    transform: unset;
  }
}
.mcard-contents{
  padding:1rem 2rem;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: start;
  flex-wrap: wrap;
}
.mcard-price{
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: calc(100% * 2.3);
  align-self: center;
  color: $yyellow;

  strong{
    width: 70%;
  }

  hr{
    border: none;
    height: .5rem;
    margin:0 0 0 1rem;
    position: relative;
    width: 5rem;
    border-radius: 1rem;
    background-color: $oyellow;
    box-shadow: 0 0 9px $oyellow;
  }
}

.mcard-images{
  position: relative;
  align-self: flex-start;
  width: 100%;
  justify-self: center;
  max-width: 45vh;
  margin: -1rem;
  height: 45vh;
}
.m-east-west{
  z-index: 1;
  position: absolute;
  inset: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 -1rem;
  img{
    width: 14px;
  }
  > *{
    position: relative;
    display: flex;
    padding: .5rem;
    border-radius: 4px;
    overflow: hidden;
    align-items: center;
    background-color: #4449;
    transition: transform 100ms ease-in;
  }
  a.m-east:hover{transform: translateX(-4px)}
  a.m-west:hover{transform: translateX(4px)}
}

.mcard-images-overlay{
  > *{
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    transition: all 250ms ease-in 100ms;
    img{
      width: 100%;
      aspect-ratio: 1;
      border-radius: 6px;
      transform: scale(80%);
      transition: all 250ms ease-in 100ms;
    }
    &.index-js {
      z-index: 1;
      transform: translateZ(2);
      left: 50%;
      img{
        box-shadow: 0 0 25px #3338;
        opacity: 1;
        transform: scale(100%);
      }
    }
  }
  .before-index img.js{animation: beforeSliderImg 160ms ease-in-out;}
  .after-index img.js{animation: afterSliderImg 160ms ease-in-out;}
  .index-js img.js {animation: headShake 800ms ease-in-out;}
  @keyframes beforeSliderImg {
    from{ 
      transform: rotateY(360deg);
    }
    to{
      transform: rotateY(356deg);
    }
  }
  @keyframes afterSliderImg {
    from{ 
      transform: rotateY(6deg);
    }
    to{ 
      transform: rotateY(4deg);
    }
  }
  @keyframes headShake {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    6.5% {
      -webkit-transform: translateX(-6px) rotateY(-9deg);
      transform: translateX(-6px) rotateY(-9deg);
    }
    18.5% {
      -webkit-transform: translateX(5px) rotateY(7deg);
      transform: translateX(5px) rotateY(7deg);
    }
    31.5% {
      -webkit-transform: translateX(-3px) rotateY(-5deg);
      transform: translateX(-3px) rotateY(-5deg);
    }
    43.5% {
      -webkit-transform: translateX(2px) rotateY(3deg);
      transform: translateX(2px) rotateY(3deg);
    }
    50% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .before-index, .after-index{
    perspective: 100px;
  }
  ul{
    display: flex;
    justify-content: space-around;
    padding: 5px 30%;
    align-items: flex-end;
    left: 50%;
    top: 53%;
    gap: 4px;
    width: 90%;
    z-index: 2;
    *{
      list-style: none;
      background-color: #aaa6;
      width: 100%;
      height: .4rem;
      border-radius: 4px;
    }
    .active{
      transition: all 80ms ease-in;
      background-color: #fff;
      box-shadow: 0 1px 3px -1px #9999;
      width: 300%;
    }
  }
  .before-index{
    right: calc(-50% - 5rem);
    img {
      scale: 70%;
      transform: rotateY(356deg);
    }
  }
  .after-index{
    left: calc(50% - 5rem);
    img {
      scale: 70%;
      transform: rotateY(4deg);
    }
  }
}

.mcard-description{
  align-self: flex-start;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.5;
  h1{
    font-size: 1.8rem !important;
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
    color: #000;
  }
  @media screen and (max-height: 680px) {
    h1{
      font-size: 1.5rem;
    }
  }
  p{
    color: #bbb;
  }
}
.article-card{
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transform: scale(60%) translateX(130%);
  top: 0;
  padding: 2rem;
  height: 100dvh;
  background-color: #fff;
  overflow-y: scroll;
  transition: all 250ms ease-in 100ms;
  &.article-come-js{
    visibility: visible;
    opacity: 1;
    transform: unset;
  }
  &.article-go-js{
    visibility: hidden;
    opacity: 0;
    transform: unset;
  }
}
.article-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 700px;
  justify-content: space-evenly;
  article{
    position: relative;
    padding: 2rem;
    margin: 0 -1rem;
  }
}
.art-head{
  display: flex;
  align-self: center;
  justify-content: center;
  min-height: 6rem;
  text-align: center;
  align-items: center;
}
.art-vitals{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
  > *{
    background-color: #f6f6f6;
    padding: 1rem;
    border-radius: 9px;
    box-shadow: inset 0 0 15px #eee;
    h3{
      padding:7px 10px;
      border-radius: 1rem;
      box-shadow: 0 -5px 10px #ffffff, 0 5px 10px #e0e0e0;
      margin: 0 -5px;
      margin-bottom: 1rem;
      text-align: center;
    }
  }
  table{
    border-spacing: 0;
    width: 100%;
    tbody{
      display: table;
      width: 100%;
    }
    td{
      width: 50%;
      padding-bottom: .2rem;
    }
    tr.ran1 {
      td{
        border-bottom: solid 1px #ccc;
      }
    }
    td:nth-child(1){
      border-right: solid 1px #ccc;
    }
    td:nth-child(2){
      padding-left: 6px;
    }
  }
  .tags span{
    padding: 3px 12px;
    box-shadow: 0 7px 9px $oyellow, 2px 3px #f83;
    border-radius: 15px;
    background-color: #{$myellow} ;
    font-size: .8rem
  }
}
.vit-price{
  .vit-price-content{
    display: block;
    width: 100%;
  }
  span{
    display: block;
    text-align: center;
    padding: 3px 12px;
    box-shadow: 0 7px 9px $oyellow, 2px 3px #f83;
    border-radius: 15px;
    background-color: #{$myellow};
    position: relative;
    width: 100%;
    top: 4px;
  }
}
.vit-material{
  grid-column-start: 1;
  grid-column-end: 3;
  .vit-mat-content{
    justify-self: center;
    display: grid;
    tbody {
      justify-self: center;
    }
  }
  > span{
    margin-bottom: auto;
    background-color: $yyellow;
    box-shadow: #fff;
    padding: 5px;
  }
  .tags{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 10px;
    margin-top: 1rem;
  }
}
.bulk-err-msg {
  visibility: hidden;
  opacity: 0;
  border: solid 3px #f307;
  position: fixed;
  top: 2rem;
  border-radius: 9px;
  width: 80%;
  height: auto;
  z-index: 99999;
  padding: 9px;
  background-color: #feec;
  left: 50%;
  translate: -100%;
  color: #a00;
  transition: all 250ms ease-in 100ms;
  &.js{
    visibility: visible;
    opacity: 1;
    left: 50%;
    translate: -50%;
  }
}

.header-overlay.noti-added{
  height: 5rem;
  flex-wrap: wrap;
  .notifications{
    width: 100%;
    flex-shrink: 0;
    display: flex;
    
    gap: 1rem;
    justify-content: center;
    font-family: 'Fira sans';
    border-bottom: solid 2px $oyellow;
    padding-bottom: .5rem;
    > span{
      text-align: center;
      color: #fff;
      font-size: 1rem;
    }
    a{
      font-size: 1.9rem;
      line-height: .4;
      color: #000;
    }
  }
}

@import '_media.scss';