header
  .header-overlay
    img(src="images/icons/dwinnemmen.svg", alt="nibies" width="50")

    a.ho(href="javascript:void(0)", rel="nofollow" title="open more products")  
      svg(icon="hamburger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 35" class="hamburger ho")

    strong nibies
    
  .error-msgs
    .bulk-err-msg
      span Bulk purchase? Complete form first. We’ll discuss quantities during our follow-up call.

  .header-content-wrapper
    .header-content

  .navigator.--fo
    .navi-overlay
      a.fo.navi-nav2(href="javascript:void(0)", rel="nofollow")
        img.fo(src="images/icons/shopping-cart.svg", alt='cart', width="50")
        span 0
      .navi-nav1.nl
        span.nl learn more
        img.nl(src="images/icons/double-down.svg", alt="learn more", width="50")

    .navi-bottom 
      .right 
      .left